@charset "UTF-8";

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
  padding: 16px;

  .profile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;

    .picture {
      border-radius: 50%;
      width: 200px;
    }

    .name {
      text-align: center;
      font-size: 2.5em;
    }
  }

  .info {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;

    .link {
      color: black;

      i {
        color: $primary-color;
      }
    }
  }
}
